@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-animation-color: rgba(106, 180, 216, 0.15);
}

* {
  margin: 0;
  padding: 0;
}

html {
  scrollbar-color: var(--header-animation-color) #0f172a;
  scrollbar-width: thin;
  overscroll-behavior-x: none;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: var(--header-animation-color);
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background: #0f172a;
}

@layer utilities {
  .grid-cols-auto-fill-70 {
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  }
  .grid-rows-auto-fill-70 {
    grid-template-rows: repeat(auto-fill, minmax(70px, 1fr));
  }
  .animation-delay-1 {
    animation-delay: 2s;
  }
  .animation-delay-2 {
    animation-delay: 3s;
  }
  .card-wrapper:before {
    background: conic-gradient(transparent 10deg, #dd2a7b 40deg, #3b82f6 70deg, transparent 160deg);
  }
  .noise {
    background-image: url(/images/noise.png);
  }
  .grid-full {
    display: grid;
    & > * {
      grid-row: 1;
      grid-column: 1;
    }
  }
}

a.button-3d {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 210px;
  height: 80px;
  background: #64748b;
  text-align: left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0, 0);
  transition: 0.5s;
  box-shadow: -20px 20px 10px 4px rgba(0, 0, 0, 0.5);

  &:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #475569;
    transform: rotate(0deg) skewY(-45deg);
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #334155;
    transform: rotate(0deg) skewX(-45deg);
  }

  &:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
    background: #3b5998;

    &:before {
      background: #365492;
    }
    &:after {
      background: #4a69ad;
    }
  }
}
